@import "../shared/shared";

* {
    font-family: Rubik;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 3;
    animation: hoverAnimation 3s ease-in alternate-reverse infinite;
    @keyframes hoverAnimation {
        from {
            box-shadow: 0px 0px 0px rgba(255, 153, 0, 0.1);
        }
        to {
            box-shadow: 10px 10px 80px rgba(255, 153, 0, 0.1);
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
        }

        ul > li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 1.125rem;
            box-sizing: border-box;

            &:not(:last-child) {
                margin-right: 1.625rem;
            }

            &:hover {
                cursor: pointer;
            }

            &.underline {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 0rem;
                    border-radius: 0.625rem;
                    transition: width 0.2s ease-out;
                }

                &:hover::before {
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    height: 0.25rem;
                    width: 3.3125rem;
                    border-radius: 0.625rem;
                    background-color: map-get($colors, orange-dart);
                }
            }
        }
    }

    &__logo {
        .logo {
            font-size: 2rem;
            transition: transform 0.2s linear;
            color: map-get($colors, orange-dart);
            margin: 0;
        }

        .logo:hover {
            color: map-get($colors, orange-dart);
            cursor: pointer;
            transform: scale(1.1);
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            transition: transform 0.4s linear;

            &.active {
                background-color: map-get($colors, orange-dart);
            }

            &.not-active {
                background-color: map-get($colors, orange-soft);
            }
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        cursor: pointer;
        fill: $color-gray;

        svg:not(:last-child) {
            margin-right: 0.625rem;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }

        .dart_theme {
            fill: map-get($colors, orange-dart);
            transition: all 0.2s ease-in;
            animation: ratationSun 0.4s ease-out alternate;

            &:hover {
                transform: scale(1.1);
                fill: map-get($colors, orange-dart);
                cursor: pointer;

                @keyframes ratationSun {
                    0% {
                        opacity: 0;
                        transform: rotate(0deg);
                        transition: transform 0.1s ease-out;
                    }

                    70% {
                        transform: rotate(-390deg);
                        transition: transform 0.1s ease-out;
                    }

                    100% {
                        opacity: 1;
                        transform: rotate(-360deg);
                        transition: transform 0.1s ease-out;
                    }
                }
            }
        }

        .soft_theme {
            fill: map-get($colors, orange-soft);
            transition: all 0.2s ease-out;
            animation: ratationMoon 0.4s ease-out alternate;

            &:hover {
                transform: scale(1.1);
                fill: map-get($colors, orange-dart);
                cursor: pointer;

                @keyframes ratationMoon {
                    0% {
                        opacity: 0;
                        transform: rotate(0deg);
                        transition: transform 0.2s ease-out;
                    }

                    70% {
                        transform: rotate(-390deg);
                        transition: transform 0.2s ease-out;
                    }

                    100% {
                        opacity: 1;
                        transform: rotate(-360deg);
                    }
                }
            }
        }
    }

    &__button {
        width: 9.375rem;
        height: 2.8125rem;
        color: map-get($colors, orange-dart);
        border: 0.13rem solid map-get($colors, orange-dart);
        box-sizing: border-box;
        border-radius: 0.5rem;
        background-color: map-get($colors, orange-soft);
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    @include breakpoint-down(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 20px;

        &__list,
        &__button,
        svg.dart_theme,
        svg.soft_theme {
            display: none;
        }
    }
    @include breakpoint-up(md) {
        padding: 6px 20px;
        &__burger {
            display: none;
        }
    }
}
