@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$color-gray:#121212;
$color-purple:#5352ED;
$color-white :#726c52;
$color-dart :#121212;
$color-orange:#fe8019;

$colors:(dart:#121212,
    white:#fff,
    orange-soft:#fbf1c7,
    orange-medium:#726c52,
    orange-dart:#fe8019);