@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$color-gray:#121212;
$color-purple:#5352ED;
$color-white :#FFFFFF;
$color-dart :#121212;