@import "../shared/shared";

.about {
    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
        .text__highlight {
            background: linear-gradient(90deg, rgba(255, 111, 0, 1) 52%, rgba(255, 145, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @include breakpoint-down(sm) {
            font-size: 2rem;
        }
        @include breakpoint-up(sm) {
            font-size: 2.3rem;
        }
        @include breakpoint-up(lg) {
            font-size: 2.8rem;
        }
        @include breakpoint-up(xl) {
            font-size: 3rem;
        }
    }

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        position: relative;
        margin-top: 30px;
        @include breakpoint-down(sm) {
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
        @include breakpoint-up(sm) {
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
        @include breakpoint-up(lg) {
            display: flex;
            flex-direction: row;
            padding-right: 30px;
        }
        @include breakpoint-up(xl) {
            display: flex;
            flex-direction: row;
            padding-right: 30px;
        }
        &__right {
            .ciecle {
                display: block;
                width: 430px;
                height: 430px;
                border-radius: 50%;
                box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
                background: rgb(255, 111, 0);
                background: linear-gradient(90deg, rgba(255, 111, 0, 1) 52%, rgba(255, 145, 0, 1) 100%);
                margin-bottom: 30px;
            }
            @include breakpoint-down(sm) {
                .ciecle {
                    width: 250px;
                    height: 250px;
                }
            }
            @include breakpoint-up(sm) {
                .ciecle {
                    width: 280px;
                    height: 280px;
                }
            }
            @include breakpoint-up(lg) {
                .ciecle {
                    width: 350px;
                    height: 350px;
                }
            }
            @include breakpoint-up(xl) {
                .ciecle {
                    width: 380px;
                    height: 380px;
                }
            }
        }

        p {
            font-size: 2.3rem;
            width: auto;
        }

        &__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            padding: 0 30px;
            .prosernal {
                @include breakpoint-down(sm) {
                    font-size: 1.25rem;
                }
                @include breakpoint-up(sm) {
                    font-size: 1.4375rem;
                }
                @include breakpoint-up(lg) {
                    font-size: 1.5rem;
                    max-width: 686px;
                }
                @include breakpoint-up(xl) {
                    font-size: 1.7rem;
                    max-width: 700px;
                }
                &::before {
                    content: '"';
                    top: -30px;
                    left: -5px;
                    position: absolute;
                    font-size: 50px;
                    color: map-get($colors, orange-dart);
                }
            }

            .icon_notebook {
                animation: transform 1s ease-in-out infinite;
                // background-color: map-get($colors, orange-sort);
                border-radius: 5px;

                @keyframes transform {
                    0% {
                        background-color: red;
                    }

                    100% {
                        background-color: blue;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            ul > li {
                font-size: 1.5625rem;
                display: flex;
                align-items: center;
                line-height: 2rem;

                .icon {
                    margin-right: 0.625rem;
                }
                @include breakpoint-down(sm) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                @include breakpoint-up(sm) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                @include breakpoint-up(lg) {
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                }
            }

            //prosernal
            .dart_theme_textnothover {
                transition: all 1s ease-in-out;
                color: map-get($colors, orange-soft);
            }

            .soft_theme_textnothover {
                transition: all 1s ease-in-out;
                color: map-get($colors, dart);
            }

            .dart_theme {
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
                color: map-get($colors, orange-medium);
            }

            .dart_theme:hover {
                color: map-get($colors, orange-soft);
                transform: scale(1.03);
                cursor: default;
            }

            .soft_theme {
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
                color: map-get($colors, dart);
            }

            .soft_theme:hover {
                color: map-get($colors, orange-medium);
                transform: scale(1.03);
                cursor: default;
            }

            .icon_container {
                display: flex;
                flex-direction: row;
                margin-top: 1.25rem;
            }

            .icon_container li {
                cursor: pointer;
            }
        }
    }
    @include breakpoint-down(sm) {
        margin-top: 130px;
    }
    @include breakpoint-up(sm) {
        margin-top: 130px;
    }
}

.about li {
    list-style: none;
}

.about ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.control {
    position: absolute;
    top: -10px;
    left: 80px;
    z-index: 1;
    max-width: 250px;
    max-height: 250px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    will-change: transform, opacity;

    @include breakpoint-up(sm) {
        top: -10px;
        left: 180px;
        z-index: 1;
        max-width: 280px;
        max-height: 280px;
    }
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
}

.back {
    border-radius: 50%;
    background-image: url("https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.6435-9/141996875_2759192757654959_397413580388335564_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=92HbXtsFxDYAX-Rhx99&_nc_ht=scontent.fbkk10-1.fna&oh=87c6d410acd5e0c24551b632f44d7595&oe=60BD3FA8");
}

.front {
    border-radius: 50%;
    background-image: url("https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.6435-9/29366140_2009700479270861_2222283591541325824_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=dodxXox26JQAX-us-pu&_nc_ht=scontent.fbkk14-1.fna&oh=d7e6a7210b42dd9071bcd0934f627d4a&oe=60BBB921");
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
