@import '../shared/shared';

.about {
    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 80px;
    }

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        .img-me {
            border-radius: 50%;
        }

        p {
            font-size: 30px;
            width: 800px;
        }


        .left_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            ul li {
                font-size: 25px;
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 10px;
                }

            }

            .dart {
                color: map-get($colors, orange-medium);
            }

            .dart:hover {
                color: map-get($colors, orange-soft);
                cursor: pointer;

            }

            .soft {
                color: map-get($colors, orange-medium);
            }

            .soft:hover {
                color: map-get($colors, dart);
                cursor: pointer;
            }

            // .text {
            //     display: flex;
            //     align-items: center;
            //     font-size: 25px;

            //     &__value.dart {
            //         color: map-get($colors, orange-medium);
            //     }

            //     &__value.soft {
            //         color: map-get($colors, orange-medium);
            //     }

            //     &__value {

            //         &:hover {
            //             color: map-get($colors, orange-soft);
            //             cursor: pointer;
            //         }
            //     }

            //     &__icon {
            //         margin-right: 10px;

            //         &:hover {
            //             color: map-get($colors, orange-soft);
            //         }
            //     }

            // }




            .icon-container {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
            }

            .icon-container li {
                cursor: pointer;
            }
        }

    }

    &__circle {
        position: absolute;
        left: 9.38%;
        right: 62.29%;
        top: 44.14%;
        bottom: 40.87%;
    }
}

.about li {
    list-style: none;
}

.about ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}