@import "../shared/shared";

.blog {
    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 5rem;

        .text__highlight {
            background: linear-gradient(90deg, rgba(255, 111, 0, 1) 52%, rgba(255, 145, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            @include breakpoint-down(sm) {
                font-size: 2rem;
            }
            @include breakpoint-up(sm) {
                font-size: 2.3rem;
            }
            @include breakpoint-up(lg) {
                font-size: 2.8rem;
            }
            @include breakpoint-up(xl) {
                font-size: 3rem;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-medium {
        margin-bottom: 50px;
        @include breakpoint-down(sm) {
            font-size: 80px;
        }
        @include breakpoint-up(sm) {
            font-size: 120px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
