@import '../shared/shared';

.blog {
    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

    }

}