@import '../shared/shared';



.text {
    text-align: center;
    position: relative;
    z-index: 1;

    &__header {

        font-size: 3.125rem;
        font-weight: normal;
        line-height: 1.5rem;
        color: map-get($colors, orange-dart);

    }

    &__highlight {
        color: map-get($colors, orange-dart);

    }
}

.photo {
    
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    &__header {
        position: relative;
        display: block;
        top: -7.375rem;
        width: 37.5rem;
        height: 37.5rem;
    }

    &__scroll {
        box-shadow: inset 0 0 0 2px map-get($colors, orange-soft);
    }

    &__scroll_dart {
        box-shadow: inset 0 0 0 2px map-get($colors, dart);

    }

    &__scroll,
    &__scroll_dart {
        position: absolute;
        top: 34.375rem;
        display: flex;
        align-items: center;
        width: 2.5rem;
        height: 4.375rem;
        border-radius: 1.5625rem;

        &::before {
            position: relative;
            left: 50%;
        }

        &::before {
            content: '';
            width: 0.75rem;
            height: 1.125rem;
            background: $color-orange;
            margin-left: -0.375rem;
            top: -0.9375rem;
            border-radius: 0.5rem;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: ease-in;
            animation-name: scroll;
        }

        &:hover {
            cursor: pointer;
        }

        @keyframes scroll {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: translateY(46px);
            }
        }
    }

}

.emoji {
    position: relative;
    box-sizing: border-box;

    &__smail {
        position: absolute;
        z-index: 1;
        left: 430px; //-170
        top: -650px; //-342.26
        transform: rotate(0);
        transform: scale(1);
        transition: all .2s ease-in;


        &:hover {
            transform: scale(1.1);
            transform: rotate(36.84deg);
            transition: all .2s ease-in;
            cursor: pointer;
            
        }
    }

    &__smail.active {
        animation: appear .3s ease-in alternate;

        @keyframes appear {
            0% {
                opacity: 0;
                transform: scale(.8);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            70% {
                opacity: .5;
                transform: scale(1.1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            100% {
                opacity: 1;
                transform: scale(1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }
        }
    }

    &__xSmail {
        position: absolute;
        z-index: 1;
        right: 300px;
        top: -500px;
        transition: all .1s ease-in, all .2s ease-in;

        &:hover {
            transform: scale(1.1);
            transform: rotate(-22.42deg);
            cursor: pointer;

        }
    }

    &__xSmail.active {
        animation: appear .3s ease-in alternate;

        @keyframes appear {
            0% {
                opacity: 0;
                transform: scale(.8);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            70% {
                opacity: .5;
                transform: scale(1.1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            100% {
                opacity: 1;
                transform: scale(1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }
        }
    }

    &__shy {
        position: absolute;
        z-index: 1;
        left: 200px;
        top: -430px;
        transition: all .1s ease-in;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

        }

    }

    &__shy.active {
        animation: appear .3s ease-in alternate;

        @keyframes appear {
            0% {
                opacity: 0;
                transform: scale(.8);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            70% {
                opacity: .5;
                transform: scale(1.1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            100% {
                opacity: 1;
                transform: scale(1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }
        }
    }

    &__glass {
        position: absolute;
        width: 130px;
        height: 130px;
        left: 1300.64px;
        top: -650px;
        transition: all .1s ease-in;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

        }
    }

    &__glass.active {
        animation: appear .3s ease-in alternate;

        @keyframes appear {
            0% {
                opacity: 0;
                transform: scale(.8);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            70% {
                opacity: .5;
                transform: scale(1.1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            100% {
                opacity: 1;
                transform: scale(1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }
        }
    }

    &__kiss {
        position: absolute;
        width: 128px;
        height: 128px;
        left: 443.35px;
        top: -250.35px;
        transition: all .1s ease-in;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

        }
    }

    &__kiss {
        .active {
            animation: appear .3s ease-in alternate;

            @keyframes appear {
                0% {
                    opacity: 0;
                    transform: scale(.8);
                    transition: opacity .3s ease-in, transform .3s ease-in;

                }

                70% {
                    opacity: .5;
                    transform: scale(1.1);
                    transition: opacity .3s ease-in, transform .3s ease-in;

                }

                100% {
                    opacity: 1;
                    transform: scale(1);
                    transition: opacity .3s ease-in, transform .3s ease-in;

                }
            }
        }
    }

    &__xxSmail {
        position: absolute;
        left: 1300px;
        top: -260.67px;
        transition: all .1s ease-in;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

        }
    }

    &__xxSmail.active {
        animation: appear .3s ease-in alternate;

        @keyframes appear {
            0% {
                opacity: 0;
                transform: scale(.8);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            70% {
                opacity: .5;
                transform: scale(1.1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }

            100% {
                opacity: 1;
                transform: scale(1);
                transition: opacity .3s ease-in, transform .3s ease-in;

            }
        }
    }

}