@import "../shared/shared";

.project {
    overflow: hidden;
    .svg-robot-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .backgorund {
            width: 1000px;
            position: absolute;
            top: 50px;
            left: 0;
        }
    }
    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        @include breakpoint-down(sm) {
            font-size: 32px;
        }
        .text__highlight {
            background: linear-gradient(90deg, rgba(255, 111, 0, 1) 52%, rgba(255, 145, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        .card {
            margin-top: 0px;
            position: relative;
            width: 300px;
            height: 450px;
            line-height: 22px;
            border-radius: 3px;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            background: linear-gradient(to right, map-get($colors, xwhite), #fffdf5);

            &__overlay {
                background: map-get($colors, dart);
                overflow: hidden;

                .card__background {
                    object-fit: cover;
                    opacity: 1;
                    height: 200px;
                    width: 100%;
                    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
                    border-radius: 5px 5px 0 0;
                    transition: all.3s;

                    &:hover {
                        transform: scale(1.1);
                        opacity: 0.1;
                        cursor: pointer;
                    }
                }
            }

            &__container {
                position: relative;
                padding: 1rem 1rem;

                .card__title {
                    font-size: 2rem;
                    user-select: none;
                    text-align: center;
                    position: relative;
                    top: -130px;
                    color: map-get($colors, orange-soft);
                    padding: 1rem 0rem;
                    border-radius: 6px;
                    background: map-get($colors, dart);
                    opacity: 0.5;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .card__content {
                    .card__descriptionTitle {
                        position: absolute;
                        top: 10px;
                        font-size: 1.25rem;
                    }

                    .tag {
                        position: absolute;
                        top: -30px;
                    }

                    p.card__description {
                        position: relative;
                        top: -30px;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        color: #999999;

                        // padding: 10px;
                        &:hover {
                            cursor: auto;
                        }
                    }

                    .card__tools {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-wrap: wrap;

                        & li {
                            margin: 0.1rem;
                            line-height: 1.125rem;

                            span.tag_child {
                                font-size: 10px;
                            }

                            span {
                                padding: 0;
                                margin: 0;
                            }

                            &:hover {
                                cursor: default;
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &:hover {
                transform: translateY(-7px);
                -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.15);
                box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.15);
            }

            ul > li {
                list-style: none;
            }
        }
    }
}
