@import "../shared/shared";

.skill {
    overflow: hidden;
    margin: 0;
    padding: 0;

    &__header {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        @include breakpoint-down(sm) {
            font-size: 32px;
        }
        .text__highlight {
            background: linear-gradient(90deg, rgba(255, 111, 0, 1) 52%, rgba(255, 145, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin-left: 20px;
        .manage_content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .programings ul li p:not(:last-child) {
                margin-right: 0.625rem;
            }

            .tools ul li p:not(:last-child) {
                margin-right: 0.625rem;
            }

            .databases ul li p:not(:last-child) {
                margin-right: 0.625rem;
            }

            .programings,
            .tools,
            .databases {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;

                &__title {
                    font-size: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    color: map-get($colors, orange-dart);

                    .line-left {
                        width: 300px;
                        height: 3px;
                        margin-right: 80px;
                        border-radius: 8px;
                        background-color: map-get($colors, orange-dart);
                    }

                    .line-right {
                        width: 300px;
                        height: 3px;
                        margin-left: 80px;
                        border-radius: 8px;
                        background-color: map-get($colors, orange-dart);
                    }
                }

                ul {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    padding: 0;
                }

                ul li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                li {
                    display: flex;
                }

                .list {
                    display: flex;
                    flex-wrap: wrap;

                    &__number {
                        font-size: 25px;
                        text-align: center;
                        margin-right: 10px;
                    }

                    &__language,
                    &__tools,
                    &__databases {
                        font-size: 25px;
                        text-align: center;
                        flex-wrap: wrap;
                        @include breakpoint-down(sm) {
                            font-size: 16px;
                        }
                        @include breakpoint-up(sm) {
                            font-size: 18px;
                        }
                        @include breakpoint-up(md) {
                            font-size: 20px;
                        }
                        @include breakpoint-up(lg) {
                            font-size: 25px;
                        }
                    }
                }

                ul .soft_mode {
                    color: map-get($colors, dart);
                }

                ul .dart_mode {
                    color: map-get($colors, orange-soft);
                }
            }
        }
    }
}
